
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/headerfooter.css}">
    <img th:src="@{/images/Logo_Main.png}" alt="" class="bl_logo">
</head>
<body>
    <footer xmlns:th="http://www.thymeleaf.org" th:fragment="footerFragment" class="footer full_width">
        <!-- Footer Section Starts Here  -->
        <div class="footer_container content_width">
            <div class="logo box9">
                <img th:src="@{/images/Logo_Main.png}" alt="" class="bl_logo">

            </div>
            <div class="text box9">
                <h3>RakshaMitra <br>Instant Alerts, Immediate Action.</h3>
            </div>

            <div class="main_social box9">
                <a href="" target="_blank" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                </a>
                <a href="" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram" style="color: #c32aa3;"></i>
                </a>
                <a href="" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook" style="color: #1877f2;"></i>
                </a>
                <a href="" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
                </a>


            </div>

        </div>

    </footer>

    <!-- Footer Section Ends Here  -->



    <!-- Footer1 Section Starts Here  -->

    <footer class="footer1 full_width" xmlns:th="http://www.thymeleaf.org" th:fragment="footerFragment">
        <div class="footer_container1 content_width">
            <div class="text1 box10">
                <h3>Designed and Developed by  <a href="" target="_blank">RakshaMitra</a>
                </h3>
            </div>
            <div class="text2 box10">
                <h3>© 2024 RakshaMitra. All rights reserved.</h3>
            </div>
        </div>
    </footer>
    <!-- Footer1 Section Ends Here  -->


    </footer>
</body>
</html>
