<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Section Fragment</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/headerfooter.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>

<!-- Main Section Fragment Starts Here  -->
<main xmlns:th="http://www.thymeleaf.org" th:fragment="mainFragment" class="main full_width">
    <section class="main_section content_width">
        <div class="main_content box2">
            <h2>Welcome to CampusCircuit</h2>
            <h2>Your portal to intercollege tech events and networking!</h2>
            <h4>CampusCircuit:Bridging Campuses for Tomorrow’s Innovators.</h4>
            <p>CampusCircuit connects tech-enthusiast students and colleges, making it easier than ever to explore and join hackathons, workshops, seminars, and more. With just a few clicks, stay updated on upcoming events, collaborate with peers, and discover learning opportunities beyond your campus.</p>
          

        </div>
            

        <div class="main_logo box2">
            <img th:src="@{/images/main_logo.png}" alt="">
        </div>
    </section>
</main>
<!-- Main Section Fragment Ends Here  -->

</body>
</html>
